# vim: noswapfile:nobackup:nowritebackup

### Identity variables ###
variable "tenancy-ocid" {
  default = ""
}

variable "user-ocid" {
  default = ""
}

variable "private-key-content" {
  type      = string
  sensitive = true
  default   = <<EOF
    EOF
}

variable "private-key-path" {
  default = ""
}

variable "fingerprint" {
  default = ""
}

variable "region" {
  default = "us-phoenix-1"
}

